<div class="container fill">
<div class="row justify-content-center">
  <div class="card  mx-3 my-3 bg-light" style="width:20%;" *ngFor="let item of mycart">
    <div class="row justify-content-center">
      <img class="w-50 h-50 img-thumbnail card-img-top justify-content-center" src="https://cdn.pixabay.com/photo/2013/09/12/16/14/t-shirt-181707__340.png" alt="Card image cap">
    </div>
    <div class="card-body">
      <p class="card-text">{{item.name}}</p>
      <a (click)="addToUserCart(item._id)"  class="btn btn-primary btn-info">Add to Cart</a>
    </div>
  </div>
</div>
</div>